.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}
.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}
.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-map-marker:before {
    content: "\f041";
}
#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}
#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}
.heading {
    text-align: left;
}
.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
}
.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 15px;
    border-radius: 3px;
    text-align: left;
}
#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0;
}
#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db, rgba(52,152,219,0));
    top: 100%;
    left: 303px;
}
.education-block {
    max-width: 700px;
    /* margin: 0 auto 30px auto; */
    padding: 0 15px;
    /* border: 1px solid #dcd9d9; */
    text-align: left;
}